body
{
    background-color: rgb(182, 231, 235);;
    text-align: center;
    padding-top: 80px;
}

#posts
{
     padding: 10px;
}

.post
{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}

.title
{
    font-family: monospace;
    font-size: 10px;
}

.text
{
    font-family: monospace;
    font-size: 10px;
}

img
{
   width: 500px;
   height: 250px;
}
