.login-form
{
    padding-top: 50px;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 20px;
}

#username-imput
{
    padding-top: 10px;
}
.submit-btn:hover
{
    background-color: greenyellow;
}

.wrong-credentials
{
    display: none;
    color:red;
    background-color: #FFE3EE;
    text-transform: initial;
    margin-Left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    border: 1px solid red;
    border-radius: 10px;
}

.homepage1
{
    padding-top: 100px;
    font-size: 50px;
}

.news1
{
    display: inline;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

body
{
    text-align: center;
    background-color:rgb(182, 231, 235);
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
    padding-top: 20px;
}

.istn-header1
{
    padding-top: 300px;
}

#gsearch
{
    font-size: 30px;
    margin: 10px;
    
}

.header-miguel
{
   font-size: 30px;
   background-color: rgb(100, 232, 223);
}


